@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">

                <li class="@isActive((string)@ViewData["current"],"ghar")">
                    <a href="/">
                        <i class="fas fa-chart-bar"></i>Request A Blood
                    </a>
                </li>
                <li class="@isActive((string)@ViewData["current"],"reqs")">
                    <a href="requests">
                        <i class="far fa-clock"></i>My Requests
                    </a>
                </li>


            </ul>
        </nav>
    </div>
</aside>
@{
    string isActive(string linkFor, string current)
    {
        if (linkFor == current)
        {
            return "active";
        }
        return "";
    }
}